# Ignore everything
*
# Allow local git config
gitignore
!/.gitignore
!/README.md
!/agents.md
!/docs/
!/docs/*
!/apps/
!/apps/**/*
!/libs/
!/libs/**/*
!/backend/
!/backend/**/*
!/ui/
!/ui/**/*
!/ops/
!/ops/**/*
!/tools/
!/tools/**/*
!/nx.json
!/package.json
!/tsconfig.base.json
!/workspace.json
!/jest.preset.js
!/run
!/types/
!/types/**/*
!/Makefile
!/.github/
!/.github/workflows/
!/.github/workflows/**/*
apps/api/prisma/.env
